<mat-card [ngClass]="source.requirement.status">
    <mat-card-header>
        <mat-card-title>
            <strong>{{source.slug}}</strong> :
            <span *ngIf="!editing">{{source.requirement.title}}</span>
            <mat-form-field *ngIf="editing" class="full-width">
                <input matInput type="text" [(ngModel)]="source.requirement.title">
            </mat-form-field>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p *ngIf="!editing" [innerHtml]="source.requirement.description|marked"></p>
        <mat-form-field class="full-width" *ngIf="editing">
            <textarea matInput [(ngModel)]="source.requirement.description"></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <ng-container *ngIf="actionsVisible||editing">
            <button *ngIf="editing" mat-raised-button (click)="save()">Save</button>
            <button *ngIf="!editing" mat-raised-button (click)="editing=true">Edit</button>
            <button *ngIf="!editing" mat-raised-button>Publish</button>
            <button mat-raised-button color="warn" (click)="delete()">Delete</button>
        </ng-container>
    </mat-card-actions>
    <requirement-list [requirements]="source.children" [level]="level+1" [parent]="source.requirement"></requirement-list>
</mat-card>